<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HNN Textbook</title>
    <!-- <base href="/textbook/"> -->
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <script src="scripts.js" defer></script>
</head>
<body>
    <svg style="display: none;">
        <symbol id="popup-symbol" viewBox="0 0 24 24" fill="none">
            <circle cx="12" cy="12" r="9" 
                fill="var(--fill-color, transparent)" 
                stroke="var(--stroke-color, currentColor)" 
                stroke-width="2" />
            <path d="M9 9L15 15M15 9L9 15" 
                stroke="var(--stroke-color, currentColor)" 
                stroke-width="2" 
                stroke-linecap="round" />
        </symbol>
    </svg>

